body{
   background-color: cornsilk;
   font-family: cursive;
}


.chat-container {
   display: flex;
   flex-direction: column;
   height: 90vh;
   max-width: 70%;
   margin: 2% auto;
  

}
.chat-header {
   background-image: url('https://img.freepik.com/free-photo/chicken-wings-barbecue-sweetly-sour-sauce-picnic-summer-menu-tasty-food-top-view-flat-lay_2829-6471.jpg');
   background-size: cover;
   background-position: center;
   color: #FFFFFF;
   padding: 10px;

}

.chat-header h1 {
   margin: 0;
}

#message-list{
   background-image: url('https://smashinglogo.com/v3/envision/image.jpg?id=b78ed479-7cdb-4b8b-b5ca-a807ade51323&format=desktop');
      background-size: cover;
      background-position: center;
         flex-grow: 1;
   overflow-y: scroll;
   padding: 10px;
}



.chat-message {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   margin-bottom: 10px;
}

.chat-message.chatbot {
   align-items: flex-end;
}

.message {
   padding: 10px;
   border-radius: 20px;
   max-width: 60%;
}

.chat-message.chatbot .message {
   background-color: #DCF8C6;
   align-self: flex-end;
}

.chat-message.customer .message {
   background-color: burlywood;
   align-self: flex-start;
}

#chat-form {
   display: flex;
   align-items: center;
   padding: 10px;
}

#message-input {
   flex-grow: 1;
   padding: 10px;
   border: none;
   border-radius: 20px;
   background-color: #F2F2F2;
}

#chat-form button {
   margin-left: 10px;
   background-color: #25D366;
   color: #FFFFFF;
   border: none;
   border-radius: 50%;
   width: 40px;
   height: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
}

/* @media (max-width: 768px) {
   .chat-container {
      height: 80vh;
   }
   

   .message {
      max-width: 90%;
   }
} */